<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--Main content-->
<!-- Home Page --> 
<section> 
  <% if (title == "Home") { %>
    <main>
    <div class="container"></div>
      <style>
        body {
          background-image: url('./Assets/images/Caribbean-beach.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          }
      </style>   
        <h1 class="display-4">HEY THERE!</h1>
        <br>
        <h2>Welcome to Delan Wang website</h2>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <p>
        <h4>
            I'm here to remind you that...<br>
          <br>
            “All our dreams can come true, if we have the courage to pursue them.” – Walt Disney. <br>
          <br>
            “The secret of getting ahead is getting started.” – Mark Twain <br>
          <br>
            “The best time to plant a tree was 20 years ago. The second best time is now.” – Chinese Proverb<br>
          <br>
            "I don't want to be the next Michael Jordan, I only want to be Kobe Bryant" - Kobe Bryant .<br>
          
          
        </h4>
        </p>
      </div>
    </div>
  </main>
  <% } else { %>
  <% } %>
</section>
<!-- About Page --> 
<section> 
  <% if (title == "About") { %>
    <main>
      <p>
        <img src= ./Assets/images/1.jpg width=500 height=500>
      </p>
    <div class="container"></div>
      <div class="jumbotron">      
        <h1 class="display-4">Hello! I'm Jason</h1><br>
        <p>
          Hello, my name is Delan Wang and I am from China. I am an International student, I have been in Canada for about 6 years.<br>
          From Victoria BC to Toronto ON, I have gone to many places in Canada, I really love the environment diversity here. <br>
          I love to watch tv shows such as The Boys, The Big Bang Theory, Black Mirror and etc.<br>
          I am also a video game enthusiast. I not only love playing them, I also see them as a work of art. I'd love to listen the story behind them. <br>
          I believe video game is a great medium for deliverying human emotions. <br>
        </p>
      </div>
    </div>
  </main>
  <% } else { %>
  <% } %>
</section>

<!-- Services Page --> 
<section> 
  <% if (title == "Services") { %>
    <main>
    <div class="container"></div>
      <div class="jumbotron">
        <h1>Welcome to <%= title %></h1>
        <h1 class="display-4">Hello there!</h1>
        <h3>
          Here are what I can offer
        </h3>
        <p>
          <img src="./Assets/images/webdesign.png" width=400><br>
          Build a website<br>
        
          <img src="./Assets/images/programming.jpg" width=400><br>
          <br>
          Build a program for your needs<br>
          <img src="./Assets/images/mathtutor.png" width=400><br>
          Help with your math problems<br>
          <img src="./Assets/images/softwareengineering.png" width=400><br>
          Got an idea? I can help you with software engineering<br>
        </p>
      </div>
    </div>
  </main>
  <% } else { %>
  <% } %>
</section>

<!-- Contact Us Page --> 
<section> 
  <% if (title == "Contact") { %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <br>
            <h1 class="display-4">*Contact me</h1>
            <br>
            <form action="index.html">
              <div class="form-group">
                <label for="nameLabel">*Name</label>
                <input type="text" class="form-control" id="nameLabel" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">*Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="shortMessage">*Leave a Message</label>
                <textarea class="form-control" id="shortMessage" rows="3" placeholder="Feel free to write us a message"></textarea>
              </div>
              <input type="submit" value="Submit" class="btn btn-info">
            </form>
          </div>
        </div>
      </div>      
    </main> 
  <% } else { %>
  <% } %>
</section>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
